# Object files
*.o
*.obj

# Asm files
*.s

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
/mipsdisasm/elfdump

# Makefile dependencies
*.d

# Build
build/*

# mips_to_c context
context.txt

# Text editor remnants
.vscode/
